.page-header{
    width:1280px;
    height: 680px;
    background-color: tomato;
    /* created flex */
    display: flex;
    flex-direction: row;
}

.logo-socials-left-nav{
    width:155px;
    height:100%;
    background-color: aliceblue;
    border: 2px solid grey;
}

.hero-container{
    width: calc(100% - 155px);
    height: 100%;
    background-color: blueviolet;
    padding: 40px 55px 40px 54px;
}

.nav-and-contact-wrapper{
width: 100%;
height: 48px;
background-color: rgb(255, 255, 255);

display: flex;
justify-content: space-between;
align-items: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 321px);
}

.navbar ul{
    display: flex;
    list-style: none;
}

navbar > .nav-item{
    flex-basis: 300px;
}

.nav-contact{
    
}

.nav-contact-us-btn{
    width: 160px;

}